@model Anime
<h4>
    Atualizar o paciente
</h4>

<div class="row">
    <form class="col-md-4" asp-action="Update">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Nome" class="control-label"></label>
            <input asp-for="Nome" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="link_img" class="control-label"></label>
            <input asp-for="link_img" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Sinopse" class="control-label"></label>
            <input asp-for="Sinopse" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Episodio" class="control-label"></label>
            <input asp-for="Episodio" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Temporada" class="control-label"></label>
            <input asp-for="Temporada" class="form-control" />
        </div>
        <div class="form-group">
            <input class="btn btn-success" type="submit" value="Atualizar!" />
            <a class="btn btn-info" asp-controller="Anime" asp-action="Index">Voltar</a>
        </div>
    </form>
</div>