@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Animes Online</h1>
    <img style="width:80rem; height: 50rem" src="https://img.wallpapersafari.com/desktop/1440/900/99/40/IFXkcs.jpg" class="img-fluid" alt="...">
</div>
